.timeField{
    -fx-background-color: transparent;
    -fx-border: solid;
    -fx-border-color: white white rgba( 190, 190, 190, 100) white ;
}
.timeField-active{
    -fx-background-color: transparent;
    -fx-border: solid;
    -fx-border-color: white white rgba( 120, 120, 120, 100) white ;
}

